<div style="margin-left:20px">
  <h1 style="margin-top:-60px">Editing task</h1>
  <%= render "form", task: @task %>
  <br>
  <div>
    <p><%= link_to "Back to tasks", "/admins/#{@admin.id}/tasks" , class:"btn btn-primary" %> </p>
  </div>
</div>
