<%= stylesheet_link_tag "home_index" %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Welcome to home page</h5>
    <p class="card-text">Log in as &nbsp&nbsp&nbsp <a href="/admins/sign_in" class="btn btn-primary">Admin</a> &nbsp&nbsp<a href="/students/sign_in" class="btn btn-primary">Student</a></p>
  </div>
</div>
