body{
    background-color: rgb(0, 0, 255);
}

.card-new-task{
    width:30%;
    height:500px;
    margin:auto;
    margin-top: 7%;
    border: 5px solid;
    background-color: white;
    box-shadow: 8px 10px #7c7b8e;
}

.card-body-new-task{
    margin: auto;
    margin-top:50px;
    margin-left:40px;
}

.card-title-new-task{
    padding-bottom: 10px;
    font-size: 40px;
}

.card-text-new-task{
    margin-left: 80px;
}

.btn{
    background-color: rgb(103, 103, 255);
}